name: Run Tests

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]
  workflow_dispatch:

jobs:
  openbsd:
    if: github.event_name != 'workflow_dispatch' || inputs.test_openbsd
    name: OpenBSD
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Build
      id: build_test
      continue-on-error: true
      uses: cross-platform-actions/action@v0.24.0
      with:
        operating_system: openbsd
        version: '7.5'
        shell: bash
        sync_files: runner-to-vm
        run: |
          echo "==== OPENBSD INSTALL ===="
          pkg_add gmake
          echo "==== OPENBSD BUILD ===="
          gmake
